.login-view {
    width: 400px;
    font-weight: bold;
    margin: 50px auto;
    padding: 20px 5px 30px;
    text-align: center;
    color: $black;
    border: 2px solid $gray;
    border-radius: 10px;
    background-color: $beige;
    > .login-logo {
        img {
            width: 17.5%;
            vertical-align: middle;
            margin: 5px;
        }
        span {
            font-size: 250%;
            color: $blue;
            vertical-align: middle;
        }
    }
    .form {
        width: 300px;
        text-align: left;
        margin: 0px auto;
        > input {
            width: 300px;
            padding: 5px;
            font-weight: bold;
            font-size: 100%;
            color: $black;
            margin: 5px 0;
            border: 2px solid $gray;
            background-color: $white;
        }
        > label {
            display: block;
            font-size: 125%;
            margin-top: 20px;
        }
    }
    .error {
        @extend .form
    }
    > form > input {
        margin-top: 30px;
        padding: 10px 20px;
        font-weight: bold;
        color: $beige;
        font-size: 100%;
        border: none;
        border-radius: 5px;
        background-color: $blue;
        border: none;
    }
} 
.login-view .form > input:focus {
    border: 2px solid $darkgray;
}
.login-view > form > input:hover {
    cursor: pointer;
    background-color: $darkblue
}
@media (max-width: 600px) {
    .login-view {
        width: 90%;
        padding: 20px 5px 20px;
        > .login-logo {
            img {
                width: 15%;
                margin: 5px;
            }
            span {
                font-size: 150%;
            }
        }
        .form {
            width: 100%;
            > input {
                width: 95%;
                font-size: 95%;
            }
            > label {
                font-size: 110%;
            }
        }
        > form > input {
            padding: 10px 15px;
            font-size: 95%;
        }
    }
}